* {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
    font-family: sans-serif;
    font-size: 12px;
}

body {
    margin: 20px;
    height: 100%;
    color: #96A2AA;
}

body.night {
    background-color: #242F3E;
    color: #546778;
}

.container {
    height: 100%;
    margin-bottom: 60px;
}

.grid {
    width: 100%;
    height: calc(100% - 260px);
    position: relative;
}

.gridSec {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    -o-transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
}

.gridSec.hidden {
    opacity: 0;
}

.line {
    width: 100%;
    border-bottom: 1px solid #DFE6EB;
    height: 18%;
    position: relative;
}

.night .line {
    border-bottom: 1px solid #313D4D;
}

.line:first-child {
    height: 8.3%;
}
.line>div {
    position: absolute;
    bottom: 0px;
}

.board {
    width: 100%;
    height: 100%;
    position: absolute;
}

.previewBoard {
    width: 100%;
    height: 100px;
}

.full {
    width: 100%;
    height: 100px;
    position: relative;
    top: -103px;
}

.area {
    left: 0px;
    right: 0px;
    position: absolute;
    height: 100%;
    border-top: 2px solid rgba(100,100,190,.2);
    border-bottom: 2px solid rgba(100,100,190,.2);
}

.night .area {
    border-top: 2px solid rgba(100, 181, 205, 0.27);
    border-bottom: 2px solid rgba(100, 181, 205, 0.27);
}

.start, .end {
    position: absolute;
    background-color: rgba(100,100,190,.3);;
    height: 100%;
    width: 12px;
    opacity: .7;
}

.night .start, .night .end {
    background-color: rgba(100, 181, 205, 0.4);
}

.end {
    left: 100%;
    margin: 2px -12px;
}

.start {
    left: 0px;
    margin: 2px 0px;
}

path {
    -o-transition: opacity .7s;
    -webkit-transition: opacity .7s;
    -moz-transition: opacity .7s;
    -ms-transition: opacity .7s;
    transition: opacity .7s;
    opacity: 1;
}

path.hidden {
    opacity: 0;
}

.cText {
    opacity: 0;
    -o-transition: .4s;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    transition: opacity .4s;
    width: auto;
    width: auto;
    display: inline-block;
    position: absolute;
    white-space: nowrap;
}

.xCaption {
    display: block;
    height: 20px;
    position: relative;
    overflow: hidden;
    padding-top: 6px;
}

.buttons {
    position: relative;
    top: -70px;
    color: #43484B;
}

.night .buttons {
    color: #E8ECEE;
}

.button {
    width: auto;
    height: 30px;
    display: inline-block;
    border-radius: 20px;
    -webkit-border-radius: 20px; 
    -moz-border-radius: 20px; 
    border: 1.5px solid #E6ECF0;
    margin-right: 20px;
    font-size: 14px;
    padding: 8px 23px 0px 7px;
}

.night .button {
    border: 1.5px solid #344658;
}

.button>div {
    display: inline-block;
    vertical-align: middle;
}

.button .icon {
    background-color: gray;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    margin-right: 10px;
    position: relative;
}

.button.active .circle {
    height: 0px;
    width: 0px;
    top: 10px;
    left: 10px;
} 

.button .circle {
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    top: 2px;
    left: 2px;
    
    -ms-transition: opacity .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    position: absolute;
} 

.button img {
    height: 0px;
    width: 0px;
    top: 10px;
    left: 10px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.button.active  img {
    position: absolute;
    height: 15px;
    width: 12px;
    top: 3px;
    left: 4px;
}

.prestart, .afterend {
    display: block;
    position: absolute;
    height: calc(100% + 4px);
    background-color: rgba(229, 245, 255, 0.6);
    width: 12px;
}

.night .prestart, .night .afterend {
    background-color: rgba(30, 42, 57, 0.7);
}

.afterend {
    right: 0px;
}

.prestart {
    left: 0px;
}

.pointer {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
}

.bubble {
    position: absolute;
    width: auto;
    display: block;
    border: 1px solid #f0e9e9;
    padding: 7px 10px;
    background-color: #fff;
    border-radius: 7px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    box-shadow: 1px 1px 1px #eee;
    -webkit-box-shadow: 1px 1px 1px #eee;
    -moz-box-shadow:1px 1px 1px #eee;
    z-index: 2;
    display: none;
}

.col {
    display: inline-block;
    width: calc(50% - 11px);
    text-align: left;
    padding: 5px;
}

.val {
    font-size: 16px;
    font-weight: bold;
}

.name {
    font-size: 14px;
}

.date {
    font-size: 16px;
    padding-bottom: 10px;
    color: black;
}
.scale {
    position: absolute;
    height: 100%;
    width: 1px;
    border-left: 1px solid #dfe6eb;
    display: none;
}